scrape_clip.mov
scrape.gif
scraper_vid.mov
Plots/5_iterations.png
Plots/10_iterations.png
Plots/20_iterations.png
Plots/25_ratio.png
Plots/50_iterations.png
Plots/50_ratio_unpruned.png
Plots/50_ratio.png
Plots/75_ratio.png
Plots/90_ratio.png
Plots/Figure_1.png
Plots/Figure_2.png
Plots/Figure_3.png
Plots/Figure_4.png
Plots/Figure_5.png
Plots/Figure_6.png
Plots/Figure_7.png
Plots/Figure_8.png
Plots/Figure_9.png
Plots/no_pruning.png
Plots/pruned_1stddev.png
Plots/pruned_halfstddev.png
Plots/pruned.png
